<?xml version="1.0" encoding="UTF-8"?>
<!--LOCAL-->
<Configuration>
    <Properties>
        <Property name="defaultLayout">%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %c{1} - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${defaultLayout}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
